<nav class="top-nav">
  <div class="left-links" *ngIf="auth.currentUser; else authLinksOnly">
    <a routerLink="/feed">Feed</a>
    <a routerLink="/recipes/new">Add recipe</a>
    <a routerLink="/planner">Meal planner</a>
    <a routerLink="/profile">Profile</a>
  </div>

  <ng-template #authLinksOnly>
    <div class="left-links">
      <a routerLink="/login">Login</a>
      <a routerLink="/register">Sign up</a>
    </div>
  </ng-template>

  <div class="right-links" *ngIf="auth.currentUser">
    <span class="welcome">Hi, {{ auth.currentUser.name }}</span>
    <button class="link-button" (click)="logout()">Log out</button>
  </div>
</nav>

<main class="main-shell">
  <router-outlet />
</main>


